body {
    font: 400 15px Lato, sans-serif;
    line-height: 1.8;
    color: #818181;
    font-family: Microsoft JhengHei;
}

#btt {
    display: none;
    position: fixed;
    bottom: 5vh;
    left: 5vw;
    z-index: 100;
}

a {
    color: brown;
}

.pg5img{
    max-height: 20vh;
    max-width: 20vw;
}

.fadeout {
    opacity: 0;
    transition: opacity 1s linear;
}

.fadein {
    opacity: 1;
}

.hidden {
    opacity: 0;
}

#infor {
    padding-top: 10vh;
}

.fix {
    position: fixed;
/*    bottom: 0;*/
    top: 0;
    width: 100vw;
}

.fix5 {
    position: fixed;
    bottom: 0;
    width: 100%;
}


.fix_bottom_page3_son {
    padding-top: 200vh;
}

.fix_bottom_page5_son {
    padding-top: 200vh;
}

h2 {
    font-size: 50px;
    text-transform: uppercase;
    color: #818181;
    font-weight: 600;
}

h5 {
    font-size: 48px;
    text-transform: uppercase;
    color: crimson;
    font-weight: 600;
}


h4 {
    font-size: 19px;
    line-height: 1.375em;
    color: brown;
    font-weight: 400;
}

h33 {
    color: black;
}

.affix {
    top: -40px;
}

p5 {
    color: #228B22;
    font-style: italic;
}

#page0 {

    width: 100%;
    height: 100vh;
    padding: 0px;
    background-color: cornsilk;

}

#page1 {

    width: 100%;
    height: 100vh;

}

#page2 {

    width: 100%;
    height: 100vh;
    background-color: cornsilk;

}

#page3 {

    width: 100%;
    height: 300vh;

}

#page4 {

    width: 100%;
    height: 100vh;
    background-color: cornsilk;

}

#page5 {

    width: 100%;
    height: 300vh;

}

#footer {
    background-color: cornsilk;
    height: 11vh;
}

#footer p{
    margin: 0px;
}

.row {
    width: 100%;
    margin: 0px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.panel {
    margin-bottom: 0;
    border-color:brown;
    
}

@keyframes up
{
    from {top: 20vh;}
    to {top: 12vh;}
}

@-webkit-keyframes up
{
    from {top: 20vh;}
    to {top: 12vh;}
}

#flag {
    animation: up 1s;
    -webkit-animation:up 1s;
    animation-fill-mode:forwards; 
}