body {
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: #818181;
    font-family: Microsoft JhengHei;
}
a {
    color: brown;
}

.slideanim {
    visibility:hidden;
}

.slide {
      animation-name: slide;
      -webkit-animation-name: slide;
      animation-duration: 1s;
      -webkit-animation-duration: 1s;
      visibility: visible;
  }

#infor{
    padding-top: 10vh;
}
  }
  h2 {
      font-size: 50px;
      text-transform: uppercase;
      color: #303030;
      font-weight: 600;
      margin-bottom: 30px;
  }

  h5 {
      font-size: 48px;
      text-transform: uppercase;
      color: crimson;
      font-weight: 600;
      margin-bottom: 30px;
  }


  h4 {
      font-size: 19px;
      line-height: 1.375em;
      color: brown;
      font-weight: 400;
      margin-bottom: 30px;
  }

h33{
    color: black;
}

.affix {
  top: -40px;
}

    p5 {
      color:#228B22;
        font-style: italic;
  }

#page0{

    width: 100%;
    height: 100vh;
    padding:0px;
    background-color:cornsilk;

}

#page1{

    width: 100%;
    height: 100vh;

}
#page2{

    width: 100%;
    height: 100vh;
    background-color:cornsilk;

}
#page3{

    width: 100%;
    height: 100vh;

}
#page4{

    width: 100%;
    height: 100vh;
    background-color:cornsilk;

}
#page5{

    width: 100%;
    height: 100vh;

}
